%h2= "Hello #{@user.name},"

%p Check out the new episodes released today.

%table{style: 'border: 1px solid black; border-collapse: collapse;'}
  %tr
    %th{style: 'border: 1px solid black; border-collapse: collapse; padding: 4px'} Series
    %th{style: 'border: 1px solid black; border-collapse: collapse; padding: 4px'} Episode
  - @data.each do |series, episode|
    %tr
      %td{style: 'border: 1px solid black; border-collapse: collapse; padding: 4px'}= series
      %td{style: 'border: 1px solid black; border-collapse: collapse; padding: 4px'}= episode
