.container-fluid
  .col-lg-10.col-lg-offset-1
    - if user_signed_in?
      %h1 Your favorite shows
      - if @series.any?
        = render 'series_list', series_list: @series
      - else
        No Favories added
    - else
      - if @series.any?
        = render 'series_list', series_list: @series
      - else
        No Favories added
