.container-fluid
  .col-lg-offset-1.col-lg-11
    %h2= "Search results for:  #{params[:q]}"
  .col-lg-10.col-lg-offset-1
    - if @series.any?
      = render 'series_list', series_list: @series
    - else
      No results found
